.title {
  @include flex($align: baseline, $justify: space-between);

  @include font(
    $size: inherit,
    $color: $purple,
    $height: inherit,
    $spacing: 0.1px
  );

  &__sub {
    @include font(
      $size: 12px,
      $height: 14px,
      $color: $purple,
      $spacing: 0.1px
    );
  }
}
