.order-success {
  &__title {
    @include font($size: 26px, $height: 31px, $color: $purple);
  }

  &__content {
    padding: 10px 0 0 5px;
  }

  &__number {
    @include font($height: 19px, $weight: bold, $color: $black);
  }

  &__email {
    max-width: 300px;

    margin-top: 10px;

    @include font();

    & a {
      color: $purple;
      text-decoration: none;
    }
  }

  &__estimated-date {
    max-width: 200px;

    margin-top: 35px;

    @include font($color: $black);
  }

  &__print {
    margin-top: 25px;
  }
}
