.order-page {
  @include container();
  min-height: 600px;

  display: flex;

  margin-top: 45px;

  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.07);

  &__form,
  &__success {
    width: 400px;

    padding: 20px 40px 45px 40px;

    box-sizing: border-box;
  }

  &__summary {
    width: 300px;

    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

    background: rgba(230, 233, 240, 0.5);

    &--translucent {
      opacity: 0.5;
    }
  }

  &__success {
    padding: 35px 15px 0 40px;
  }
}

@media (max-width: $mobile-screen) {
  .order-page {
    margin-top: 0;

    flex-direction: column;

    overflow-x: hidden;
    overflow-y: auto;

    &__form,
    &__success {
      width: 100%;

      padding: 10px;

      border-radius: 0;
    }

    &__summary {
      width: 100%;

      border-radius: 0;
    }

    &__success {
      width: 320px;

      margin: 0 auto;
      padding: 10px 10px 20px;
    }
  }
}

@media print {
  .order-page {
    flex-direction: row;

    margin-top: 30px;

    &__success {
      width: 400px;
    }

    &__summary {
      width: 300px;
    }
  }
}
