.form-field {
  margin-bottom: 10px;

  &__label {
    display: block;
    margin-bottom: 5px;

    @include font($color: $purple, $spacing: -0.4px);
  }

  &__control {
    &-container {
      position: relative;

      @include flex($justify: normal);
    }

    &-help {
      margin-left: 10px;

      @include font($size: 13px, $height: 13px, $color: $light-gray);
    }
  }

  &--invalid input {
    background-color: rgba(248, 231, 28, 0.07);
  }

  &__error {
    position: absolute;

    padding: 5px 7px 5px 12px;

    @include font($size: 13px, $height: 16px, $color: #D0021B);
    white-space: nowrap;

    background-color: $white;
    border: 1px solid rgba(222, 220, 220, 0.695907);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    z-index: 1;

    &::before {
      @include pseudo-element(
        $width: 0,
        $height: 0
      );

      border-style: solid;
      border-width: 11px 7px 0 7px;
      border-color: rgba(222, 220, 220, 0.695907) transparent transparent transparent;

      z-index: 1;
    }

    &::after {
      @include pseudo-element(
        $width: 0,
        $height: 0
      );

      border-style: solid;
      border-width: 11px 7px 0 7px;
      border-color: $white transparent transparent transparent;

      z-index: 1;
    }

    &--top {
      bottom: calc(100% + 3px);
      left: -12px;

      &::before {
        left: 19px;
        bottom: -11px;
      }

      &::after {
        left: 19px;
        bottom: -9px;
      }
    }

    &--right {
      left: calc(100% + 15px);

      &::before {
        top: calc(50% - 5px);
        left: -13px;
        transform: rotate(90deg);
      }

      &::after {
        top: calc(50% - 5px);
        left: -11px;
        transform: rotate(90deg);
      }
    }

    &--bottom {
      top: calc(100% + 3px);
      left: -12px;

      &::before {
        left: 19px;
        top: -11px;
        transform: rotate(180deg);
      }

      &::after {
        left: 19px;
        top: -9px;
        transform: rotate(180deg);
      }
    }

    &--left {
      right: calc(100% + 15px);

      &::before {
        top: calc(50% - 5px);
        right: -13px;
        transform: rotate(-90deg);
      }

      &::after {
        top: calc(50% - 5px);
        right: -11px;
        transform: rotate(-90deg);
      }
    }
  }
}

@media (max-width: $mobile-screen) {
  .form-field {
    margin-bottom: 20px;

    &__error {
      &--top,
      &--right,
      &--bottom,
      &--left {
        top: auto;
        right: auto;
        bottom: calc(100% + 3px);
        left: -12px;

        &::before {
          top: auto;
          right: auto;
          left: 19px;
          bottom: -11px;

          transform: none;
        }

        &::after {
          top: auto;
          right: auto;
          left: 19px;
          bottom: -9px;

          transform: none;
        }
      }
    }
  }
}
