.order-summary-costs {
  position: relative;

  padding: 0 4px;

  &::after {
    @include pseudo-element(
      $left: 0,
      $bottom: 0,
      $width: 100%,
      $height: 1px,
      $background: $gray
    );
  }

  &__list {
    padding: 5px 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    @include flex($justify: space-between);

    width: 100%;

    padding: 5px 0;
  }

  &__name {
    @include font($size: 12px, $height: 12px, $color: $light-gray);
  }

  &__value {
    @include font($size: 12px, $height: 12px, $color: $light-gray);
  }
}
