body {
  font-family: Helvetica, Arial, sans-serif;
}

img {
  display: block;
}

.app {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  background-color: #E6E9F0;
}

.body--print{
  width: 1024px;
}

.body--print * {
  color: #000000 !important;
}
